/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) {
	

}
@media (min-width: 992px) and (max-width: 1199px) {
  .block3 img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    width: 60px; 
  }
  .title.large {
    font-size: 22px;
}
.block3 {
  margin-top: 0;
  font-size: 13px;
}
.block3 a {
  font-size: 13px;
}
.marketplace__item-image_mini {
  width: 30px;
  height: 30px;
  -ms-flex-preferred-size: 1.875rem;
  flex-basis: 1.875rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
}

@media (min-width: 992px) {
		
}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	.intro-bg {
    background: url('../images/bg-13_mob.jpg');
    background-position: center;
  }

}



/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
	.block3 img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {
  h1, .hd-1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.block3 {
  font-family: "SourceSansPro";
  font-weight: 300;
  font-size: 16px;
  color: #888888;
  min-height: 70px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}
.block3__link {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
[data-ckav-sm*="pd-40"] {
  padding: 20px;
}
}
.nav-link__product {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ff5000;
}