/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) {
	

}
@media (min-width: 992px) and (max-width: 1199px) {
  .block3 img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
    width: 60px; 
  }
  .title.large {
    font-size: 22px;
}
.block3 {
  margin-top: 0;
  font-size: 13px;
}
.block3 a {
  font-size: 13px;
}
.marketplace__item-image_mini {
  width: 30px;
  height: 30px;
  -ms-flex-preferred-size: 1.875rem;
  flex-basis: 1.875rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
}

@media (min-width: 992px) {
		
}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	.intro-bg {
    background: url('../images/bg-13_mob.jpg');
    background-position: center;
  }
	.r-img{
		order: -1;
	}
	.tab-pane{
		min-height: auto !important;
	}

}



/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
	.block3 img {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {
  h1, .hd-1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.block3 {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #888888;
  min-height: 70px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}
.block3__link {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
[data-ckav-sm*="pd-40"] {
  padding: 20px;
}
}
.nav-link__product {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ff5000;
}

.years__documents {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background: #ffffff;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.years__documents:not(:last-child) {
  margin-bottom: 20px;
}

.years__documents:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.years__documents_popup {
  margin: 5px 0;
  border: none;
  color: #8e8e8e;
}

.years__documents_popup:not(:last-child) {
  margin-bottom:5px;
}

.years__documents_popup:hover {
  border: none;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.years__document-icon {
  width: 1.9375rem;
  height: 2.5rem;
  margin: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.years__document-icon_popup {
  margin: 0.625rem 0.625rem 0.625rem 0;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}
.years__link {
  color: #fd4f00;
}

.years__document-link {
  font-weight: 400;
  color: #8e8e8e;
}



.years__document-link_popup {
  color: #002a3a;
}

.mt-5, .my-5 {
  margin-top: 10px !important;
}
.tab-content p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #002a3a;
}
@media screen and (max-width: 1024px) {
  .tab-content p {
    font-size: 12px;
    line-height: 16px;
  }
}
.tabs__body_scrollbar {
  overflow: auto;
}
.tab-pane {
  min-height: 500px;
  max-width: 600px;
}
.GFG {
  column-count: 2;
  column-gap: 30px;
  max-width: 550px;
  /* Adjust the gap between columns */
}

@media screen and (max-width: 768px) {
  .GFG {
    column-count: 1;
  }
}
.auto-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 430px) {
  .nav {
    flex-direction: column;
  }
}

.title.with-sep {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .title.with-sep {
    width: 100%;
    height: 30%;
    margin-right: 0;
    margin-right: 0;
    margin-top: auto;
  }
}
.ckav-section .first{
  background-color: #002a3a;
  height: 100%;
  width: 40%;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .ckav-section .first {
    width: 100%;
    height: 30%;
    margin-right: 0;
    margin-right: 0;
    margin-top: auto;
  }
}

.title.xxlarge {
  font-size: 42px;
  width: 60%;
  margin-right: auto;
  margin-left: 10px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .title.xxlarge {
    font-size: 36px;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .title.xxlarge {
    font-size: 36px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 28px;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    width: 100%
  }
}
.embed-responsive-item {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .embed-responsive-item {
    height: 75%;
    width: auto;
  }
}

.bg-cc{
	height: inherit;
	background-size: cover;
}
.min-vh-h100{
	height: inherit;
}
.container-fluid{
	height: inherit;
}
.flex-cc{
	padding: 2% 20px;
}
#fp-nav{
	text-shadow: 0px 0px 1px black;
}
#fp-nav ul li span{
    box-shadow: 0px 0px 1px gray;
}
@media screen and (max-height: 600px){
	.mr-auto{
		zoom: 80%;
	}
}